<!DOCTYPE html>
<html lang="ENG-US">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Anime Template" />
    <meta name="keywords" content="Anime, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Moive Review</title>

    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/plyr.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/profile.css" />

    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/">
                        <img src="img/logo.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/">Homepage</a></li>

                            <li>
                                <a href="/admin">Admin</a>
                            </li>
                            <li>
                                <a href="/categories"
                                >Categories <span class="arrow_carrot-down"></span
                                ></a>
                                <ul class="dropdown">
                                    <li><a href="#">Romance</a></li>
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Fantasy</a></li>
                                    <li><a href="#">Comedy</a></li>
                                </ul>
                            </li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"
                    ><span class="icon_search"></span
                    ></a>
                    <a href="/login"><span class="icon_profile"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Viet68</span><span class="text-black-50">Viet68@fakeGmail.com</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">User Profile </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">UserName</label>
                        <p>Viet68</p></div>
                    <div class="col-md-6"><label class="labels">Password</label>
                        <p>**********</p></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Fully Name</label><p>Viet Dep Trai</p></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Gender</label>
                        <p>Male</p></div>
                    <div class="col-md-6"><label class="labels">Date of birth</label>
                        <p>1/1/2079</p></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><p>0999944442</p></div>
                    <div class="col-md-12"><label class="labels">Address</label><p>13 Ly Chinh Thang street, distric 3, HCM city</p></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><p>Viet68@fakeGmail.com</p></div>
                </div>
                <div class="mt-5 text-center"><button href="#"class="btn btn-primary profile-button" type="button">Edit Profile</button></div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
            <div class="col">
                <div class="card">
                    <div class="card-body px-0 overflow-auto">
                        <h4 class="card-title pl-4">
                            Favorite movies
                            <button type="button" href="/form" class="btn btn-sm ml-3 btn-success"> Add Movie </button>
                        </h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                <tr>
                                    <th>Movie</th>
                                    <th>Genre</th>
                                    <th>Views</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.pinimg.com/originals/24/1c/9c/241c9cb80f6ab43946bc14fc2dee76d0.png" alt="image" />
                                            <div class="table-user-name ml-3">
                                                <p class="mb-0 font-weight-medium"> Naruto </p>
                                                <small> TV series</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Aventure</td>
                                    <td> #0</td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.pinimg.com/originals/24/1c/9c/241c9cb80f6ab43946bc14fc2dee76d0.png" alt="image" />
                                            <div class="table-user-name ml-3">
                                                <p class="mb-0 font-weight-medium"> Naruto </p>
                                                <small> TV series</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Aventure</td>
                                    <td> #0</td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.pinimg.com/originals/24/1c/9c/241c9cb80f6ab43946bc14fc2dee76d0.png" alt="image" />
                                            <div class="table-user-name ml-3">
                                                <p class="mb-0 font-weight-medium"> Naruto </p>
                                                <small> TV series</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Aventure</td>
                                    <td> #0</td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.pinimg.com/originals/24/1c/9c/241c9cb80f6ab43946bc14fc2dee76d0.png" alt="image" />
                                            <div class="table-user-name ml-3">
                                                <p class="mb-0 font-weight-medium"> Naruto </p>
                                                <small> TV series</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Aventure</td>
                                    <td> #0</td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <a class="text-black mt-3 d-block pl-4" href="#">
                            <span class="font-weight-medium h6">View all movies</span>
                            <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body px-0 overflow-auto">
                        <h4 class="card-title pl-4">
                            History
                        </h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                <tr>
                                    <th>Movie</th>
                                    <th>Genre</th>
                                    <th>Views</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.pinimg.com/originals/24/1c/9c/241c9cb80f6ab43946bc14fc2dee76d0.png" alt="image" />
                                            <div class="table-user-name ml-3">
                                                <p class="mb-0 font-weight-medium"> Naruto </p>
                                                <small> TV series</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Aventure</td>
                                    <td> #0</td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.pinimg.com/originals/24/1c/9c/241c9cb80f6ab43946bc14fc2dee76d0.png" alt="image" />
                                            <div class="table-user-name ml-3">
                                                <p class="mb-0 font-weight-medium"> Naruto </p>
                                                <small> TV series</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Aventure</td>
                                    <td> #0</td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.pinimg.com/originals/24/1c/9c/241c9cb80f6ab43946bc14fc2dee76d0.png" alt="image" />
                                            <div class="table-user-name ml-3">
                                                <p class="mb-0 font-weight-medium"> Naruto </p>
                                                <small> TV series</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Aventure</td>
                                    <td> #0</td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="https://i.pinimg.com/originals/24/1c/9c/241c9cb80f6ab43946bc14fc2dee76d0.png" alt="image" />
                                            <div class="table-user-name ml-3">
                                                <p class="mb-0 font-weight-medium"> Naruto </p>
                                                <small> TV series</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Aventure</td>
                                    <td> #0</td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <a class="text-black mt-3 d-block pl-4" href="#">
                            <span class="font-weight-medium h6">View all history</span>
                            <i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Section Begin -->
<footer class="footer" style = "background: #0b0c2a">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"
        ><span class="arrow_carrot-up"></span
        ></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="/"><img src="img/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="/">Homepage</a></li>
                        <li><a href="/movieRanking">Movie Ranking</a></li>
                        <li><a href="/categories">Categories</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here....." />
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/player.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
