<!--hero header-->
<section class="py-7 py-md-10 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div style="line-height: 3;" class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <br><br><br>
                <h1 class="heading-white text-capitalize text-white">Thanks for the report</h1>
                <div class="lead py-3 text-white text-lg-left">
                    <div>Hello {{username}}, thanks for letting us know.</div>
                    <span> We will review your report as soon as possible, but it will probably take longer to hear back from us.</span>
                    <span> We appreciate your understanding.</span>
                    <div> Thanks for being you.</div>
                </div>
                <br>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="site-btn text-center"><a class="text-white" href="/">Go to homepage</a></button>
        </div>
        <br><br><br><br><br><br><br>
    </div>
</section>
