
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="/img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Login</h2>
                        <p>Welcome to the official Movie Review.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        {{#if wrongUser}}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Wrong password or username!!!</strong>
                                <button type="button" class="close" onclick="this.parentElement.style.display='none'">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {{/if}}
                        {{#if bannedUser}}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>This account is being banned!!!</strong>
                                <button type="button" class="close" onclick="this.parentElement.style.display='none'">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {{/if}}
                        <form action="/auth/login" method="post">
                            <div class="input__item">
                                <input type="text" placeholder="Username" name="username">
                                <span class="icon_document"></span>
                            </div>
                            <div class="input__item">
                                <input type="password" placeholder="Password" name="password">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login Now</button>
                        </form>
                        <a href="#" class="forget_pass">Forgot Your Password?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Dont’t Have An Account?</h3>
                        <a href="/auth/register" class="primary-btn">Register Now</a>
                    </div>
                </div>
            </div>
            <div class="login__social">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="login__social__links">
                            <span>or</span>
                            <ul>
                                <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->
